
@import '@picocss/pico/scss/pico.classless.scss';
//@import "@picocss/pico/scss/pico.scss";


/*
 * Bootstrap grid
 */
// @import 'bootstrap/scss/bootstrap-grid.scss';





$include-column-box-sizing: true;
$grid-breakpoints: (
  xs:  0,
  sm:  576px,
  md:  768px,
  lg:  992px,
  xl:  1200px,
  xxl: 1400,
);

@import 'bootstrap/scss/mixins/_banner.scss';
@include bsBanner(Grid);
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_variables-dark.scss';
@import 'bootstrap/scss/_maps.scss';
@import 'bootstrap/scss/mixins/_lists.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';
@import 'bootstrap/scss/mixins/_container.scss';
@import 'bootstrap/scss/mixins/_grid.scss';
@import 'bootstrap/scss/mixins/_utilities.scss';
@import 'bootstrap/scss/vendor/_rfs.scss';
@import 'bootstrap/scss/_grid.scss';






@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway:wght@400;600;800&display=swap');

:root {
    --font-family: 'Raleway', 'Noto Sans JP', sans-serif;
    --border-radius: 0;
    --form-element-spacing-vertical: 1rem;
    --form-element-spacing-horizontal: 1.25rem;
}
